<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cai.blog.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.cai.blog.entity.UserEntity" >
        <id column="id" property="id"  />
        <result column="user_name" property="userName"  />
        <result column="user_name_cn" property="userNameCN"  />
        <result column="password" property="password" />
        <result column="user_sex" property="userSex"  />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name, user_name_cn, password, user_sex
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM t_user
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM t_user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.cai.blog.entity.UserEntity" >
        INSERT INTO
        t_user
        (id, user_name, user_name_cn, password, user_sex)
        VALUES
        (#{id}, #{userName}, #{userNameCN}, #{password}, #{userSex})
    </insert>

    <update id="update" parameterType="com.cai.blog.entity.UserEntity" >
        UPDATE
        t_user
        SET
        <if test="userName != null">user_name = #{userName},</if>
        <if test="password != null">password = #{password},</if>
        <if test="userSex != null">user_sex = #{userSex},</if>
        user_name_cn = #{userNameCN}
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        DELETE FROM
        t_user
        WHERE
        id =#{id}
    </delete>


    <select id="queryAllByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_user
        where 1=1
        <if test="userNameCN != null"> and user_name_cn = #{userNameCN}</if>
    </select>

    <select id="queryAllCountByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM t_user
        where 1=1
        <if test="userNameCN != null"> and user_name_cn = #{userNameCN}</if>
    </select>

</mapper>